@import url(https://fonts.googleapis.com/css?family=Neucha&display=swap);

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Neucha, serif;
    background: linear-gradient(180deg, #d41111c5 16%, #d5cdcd 100%); 
}
p {
    font-size: 3em;
}

.nav-bar {
    display: flex;
    justify-content: flex-start;
    background: linear-gradient(90deg, #bd2e59 0%, #d41b1b 100%);
}

.text-main, .text-katalog, .text-articles {
    display: flex;
    padding: 2em;
    color: white;
    text-decoration: none;
    text-align:end;
    align-items: center;
}

.text-main {
    background-color: rgba(59, 59, 59, 0.322);
}

.nav-bar a:hover {
    background-color: rgba(59, 59, 59, 0.322);
}

/* Начало видео фон */

.bgvideo {
    display: flex;
    height: 70vh;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
}

.bgvideo video {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.video-text {
    color: rgb(0, 0, 0);
    z-index: 2;
}

.video-text p {
    font-size: 3em;
}

/* .effect {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 2;
    background-color: rgba(44, 44, 44, 0.034);
} */

/* Основной текст */

.main_container {
    display: flex;
}

.main_text {
    display: flex;
    padding-bottom: 2em;
    padding-right: 1em;
}

.main_text img {
    width:100vh;
    height: auto;
    object-fit: cover;
    border-radius: 2em;
    padding-left: 1em;
}

#left_text {
    display: flex;
    justify-content: flex-start;
    padding-left: 1em;
}

#left_text p, h2{
    font-size: 3em;
}

#rigth_image {
    display: flex;
    justify-content: flex-end;
}

.title {
    text-align: center;
    padding-bottom: 1em;
    font-size: 3em;
}

/* Подвал */

.footer {
    display: flex;
    background-color: #cfcfcfb6;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}

.footer-column {
    width: 30%;
    margin-bottom: 25px;
}

.footer p {
    font-size: 2em;
}

.footer a {
    font-size: 2em;
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: rgb(255, 255, 255);
}

.footer-bottom {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/* Медиа запросы */
/* Ноутбук */
@media (max-width: 1440px){
    .main_text {
        display: block;
    }
    .main_text img {
        width: 100%;
        padding-top: 2em;
        padding-left: 1em;
    }
}

/* Планшет */
@media (max-width: 768px){
    .main_text {
        display: block;
    }

    .panel {
        padding-left: 1em;
    }

    .main_text img {
        width: 100%;
        padding-top: 1em;
        padding-left: 1em;
    }

    /* .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    } */

    .nav-bar a {
        font-size: 1.5em;
    }

    .footer-column {
        width: 100%;
    }

    .title {
        font-size: 2em;
    }
    
}

/* Телефон */
@media (max-width: 425px) {
    .main_text {
        display: block;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .text-main, .text-katalog, .text-articles{
        width: 100%;
    }
    
    #left_text p,h2 {
        font-size: 2em;
    }

}

/* Телефон */
@media (max-width: 375px) {
    .main_text {
        display: block;
    }

    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
    }

    #left_text p, h2 {
        font-size: 1.5em;
    }

    .main_text img {
        width: 95%;
        height: auto;
    }

    .main_text img {
        height: 500px;
    }
}